doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title İbrahim'in Deneme Sayfası
		// Latest compiled and minified CSS
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
		// Optional theme
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css", integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp", crossorigin="anonymous")
		// Latest compiled and minified JavaScript
		script(src="https://code.jquery.com/jquery-2.2.4.min.js", crossorigin="anonymous")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
		link(type="text/css", rel="stylesheet", href="/css/main.css")
	body
		.container(title="Kayıt bilgilerinizi giriniz")
			.row
				.col-md-offset-5.col-md-3
					.form-login
						h4 Turna Teknoloji
						form#myFormForgotPsw(name="myFormForgotPsw", method="post", action="/forgotPswForm", oninput="cleanErrorMsg()")
							input#userEmail.form-control.input-sm.chat-input(type="email", name="userEmail", placeholder="E-posta")
							br
							.wrapper
								span.group-btn
									button.btn.btn-primary.btn-md(type="button", title="Şifrenizi sıfırlamak için tıklayınız", onclick="myform()")
										| Şifremi sıfırla
										i.fa.fa-sign-in
		.container
			.row
				.col-md-offset-4.col-md-5(style="text-align: center")
					a(href="/login", title="Giriş sayfasına dönmek için tıklayınız")
						| Giriş Sayfası
						i.fa.fa-sign-in
					br
					br
					p#errorMsg(name="errorMsg", style="color:red; font: normal 12px Roboto,arial,sans-serif; text-align: center")
		script(type="text/javascript").
			var fieldEmail = document.getElementById("userEmail");
			var errorMsg = '';
			var errorCounter = 0;
			var letters = /^[A-Za-zğüşiöçıIĞÜŞİÖÇ ]+$/;
			var mailformat = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
			function validateForm() {
			// Check for Email (Must be a proper email) ------------------------------
			if (fieldEmail.value.length == 0) {
			++errorCounter;
			errorMsg += '<br>[HATA-' + errorCounter + '] E-posta adresi boş bırakılamaz !';
			fieldEmail.className = "form-control input-sm has-error";
			} else if (fieldEmail.value.length > 60) {
			++errorCounter;
			errorMsg += '<br>[HATA-' + errorCounter + '] E-posta adresi bu kadar uzun olamaz !';
			fieldEmail.className = "form-control input-sm has-error";
			} else if (!fieldEmail.value.match(mailformat)) {
			++errorCounter;
			errorMsg += '<br>[HATA-' + errorCounter + '] Geçerli bir eposta adresi girilmeli !';
			fieldEmail.className = "form-control input-sm has-error";
			}
			// -----------------------------------------------------------------------
			if (errorCounter > 0) {
			document.getElementById("errorMsg").innerHTML = errorMsg;
			errorMsg = '';
			errorCounter = 0;
			document.body.focus();
			return false;
			} else if (errorCounter == 0) {
			document.body.focus();
			return true;
			}
			}
			function cleanErrorMsg() {
			fieldEmail.className = "form-control input-sm chat-input";
			errorMsg = '';
			errorCounter = 0;
			document.getElementById("errorMsg").innerHTML = '';
			}
			function myform() {
			if (validateForm()) {
			var form = document.getElementById("myFormForgotPsw");
			form.submit();
			} else {
			document.body.focus();
			}
			}
